---
import DocumentItem from "@/components/common/DocumentItem.astro";
import type { TransparencyDocument } from "@/lib/sanity-derived-types";

interface Props {
  documents: TransparencyDocument[];
}

const { documents = [] } = Astro.props;
---

{
  documents.some((doc) => doc.fileUrl) && (
    <div>
      <h2 class="heading-3 mb-6">Documentos Publicados</h2>
      <div class="border border-border rounded-xl divide-y divide-border overflow-hidden">
        {documents.map((doc) => doc.fileUrl && <DocumentItem doc={doc} />)}
      </div>
    </div>
  )
}
