---
import DocumentItem from "@/components/common/DocumentItem.astro";
import type { ALL_TRANSPARENCY_SECTIONS_QUERY_RESULT } from "@/lib/sanity.types";
import type { Get } from "@sanity/codegen";

type Document = Get<ALL_TRANSPARENCY_SECTIONS_QUERY_RESULT, number, "documents", number>;

interface Props {
  documents: Document[];
}

const { documents = [] } = Astro.props;
---

{
  documents.some((doc) => doc.fileUrl) && (
    <div>
      <h2 class="heading-3 mb-6">Documentos Publicados</h2>
      <div class="border border-border rounded-xl divide-y divide-border overflow-hidden">
        {documents.map((doc) => doc.fileUrl && <DocumentItem doc={doc} />)}
      </div>
    </div>
  )
}
